/* We can add some basic alert styling to be used across the app */
@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
  @apply mb-4 rounded-lg p-4 text-sm;
}

.alert-info {
  @apply bg-blue-100 text-blue-800;
}

.alert-warning {
  @apply bg-yellow-100 text-yellow-800;
}

.alert-error {
  @apply bg-red-100 text-red-800;
}