---
import LayoutPublic from "../layouts/LayoutPublic.astro";
import HeaderPublic from "../components/HeaderPublic.astro";
import LoginForm from "../components/LoginForm.astro";
import FooterPublic from "../components/FooterPublic.astro";
---

<LayoutPublic title="Logowanie - funnyMMS">
  <div class="container mx-auto max-w-4xl px-4">
    <HeaderPublic />
    <main class="mt-8"><LoginForm /></main>
    <FooterPublic />
  </div>
</LayoutPublic>