---
import LayoutPublic from "../layouts/LayoutPublic.astro";
import HeaderPublic from "../components/HeaderPublic.astro";
import RegisterForm from "../components/RegisterForm.astro";
import FooterPublic from "../components/FooterPublic.astro";
---

<LayoutPublic title="Rejestracja - funnyMMS">
  <div class="container mx-auto max-w-4xl px-4">
    <HeaderPublic />
    <main class="mt-8"><RegisterForm /></main>
    <FooterPublic />
  </div>
</LayoutPublic>