 <footer class="mt-24 border-t border-slate-200 py-8 text-center text-sm text-slate-500">
   <div class="space-x-6">
     <a href="/terms" class="hover:text-slate-900 hover:underline">Regulamin</a>
     <a href="/privacy" class="hover:text-slate-900 hover:underline">Polityka Prywatności</a>
   </div>
  <p class="mt-4">
    © 2026 funnyMMS. Wszelkie prawa zastrzeżone.
  </p>
</footer>