---
interface Props {
  isSubmitDisabled: boolean;
}

const { isSubmitDisabled } = Astro.props;
---

<form
  class="mt-8"
  hx-post="/functions/v1/mms"
  hx-target="#notification-area"
  hx-swap="innerHTML"
>
  <label for="prompt" class="block text-sm font-medium text-slate-700">Opisz swój pomysł na grafikę</label>
  <textarea
    id="prompt"
    name="prompt"
    rows="4"
    required
    maxlength="300"
    class="mt-1 block w-full rounded-md border-slate-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
    placeholder="np. astronauta grający w golfa na księżycu"
  ></textarea>
  <div class="mt-4">
    <button
      type="submit"
      class:list={[
        "flex w-full justify-center rounded-lg bg-blue-600 px-4 py-3 font-semibold text-white shadow-md transition-transform hover:scale-105 hover:bg-blue-700",
        { "cursor-not-allowed bg-slate-400 hover:bg-slate-400": isSubmitDisabled },
      ]}
      disabled={isSubmitDisabled}
    >
      Generuj i wyślij
    </button>
  </div>
</form>