---
import type { User } from "@supabase/supabase-js";

interface Props {
  title: string;
  user: User | null;
}

const { title, user } = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Aplikacja do generowania śmiesznych MMS" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script is:inline>
      const supabase = supabase.createClient(
        import.meta.env.PUBLIC_SUPABASE_URL,
        import.meta.env.PUBLIC_SUPABASE_ANON_KEY,
      );

      document.addEventListener("DOMContentLoaded", () => {
        const logoutButton = document.getElementById("logout-button");
        logoutButton?.addEventListener("click", async () => {
          await supabase.auth.signOut();
          window.location.href = "/login";
        });
      });
    </script>
  </head>
  <body class="bg-slate-50 font-sans text-slate-800 antialiased">
    <slot />
  </body>
</html>